.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 50px;
  color: rgb(32,32,32);
  height: var(--header-height);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 0 0 #CECECE;
  z-index: 1;

  #header-white-logo {
    display: none;
  }

  img {
    width: 120px;
  }

  ul {
    display: flex;
    justify-content: space-around;

    li {
      margin-right: 2rem;


    }
  }

  .list-icon {
    display: none;
  }

  @media (max-width:1024px) {
    padding: 30px;

    .list-icon {
      display: inherit;

      img {
        width: 30px;
      }
    }

    .route {
      display: none;
      overflow: hidden;
      position: fixed;
      flex-direction: column-reverse;
      top: 64px;
      left: 0;
      right: 0;
      background-color: rgba($color: rgb(32,32,32), $alpha: 0.4);
      color: #fff;

      li {
        text-align: center;
        padding: 1rem;
        margin: 0;
        a{
          color: rgb(32,32,32);
        }
        a:visited{
          color: inherit;
        }

      }

    }
  }
}