[submodule "src/pages/doc_en"]
	path = src/pages/doc_en
	url = https://github.com/zilliztech/doc_en.git
[submodule "src/pages/doc_cn"]
	path = src/pages/doc_cn
	url = https://github.com/zilliztech/doc_cn.git
