/* src/assets/styles/pages/_index.scss  */

.home__page {
  .home__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem 0;
    height: calc(100vh);
    color: #fff;
    box-sizing: border-box;
    /* BG Animation */
    background-image: linear-gradient(45deg, #20073A, var(--color-primary), var(--color-secondary), #03F7C9);
    background-size: 600%;
    background-position: 0 0;
    justify-content: center;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: gradients;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .desc {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .mission__header {
    max-width: var(--max-width);
    padding: 6rem 0 6rem;
    margin: 0 auto;
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
    }
    .sub-title {
      text-align: center;
      line-height: 1.7;
    }
  }

  .home__content {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 16rem;
    position: relative;

    li {
      position: relative;
      margin-top: 3rem;

      img {
        width: 100%;
      }

      .title {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 42px;
        letter-spacing: 1px;
        line-height: 49px;
        text-transform: uppercase;
      }

      .sub-title {
        position: absolute;
        top: 6rem;
        left: 2rem;
        color: #3F5CD1;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
      }

      .desc {
        position: absolute;
        bottom: 10%;
        left: 2rem;
        color: rgb(32, 32, 32);
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1.5;
        max-width: 50rem;
      }

      &:first-child {
        margin-top: 0;

        .title {
          top: -10rem;
        }

        .sub-title {
          top: -6rem;
          color: #4FC4F9;
        }
      }
    }


    #video_title {
      position: absolute;
      top: 10rem;
      left: 1rem;
      font-size: 42px;
      letter-spacing: 4px;
      line-height: 49px;
      text-transform: uppercase;
      color: rgb(32, 32, 32);

    }

    #video_sub_title {
      position: absolute;
      top: 14rem;
      left: 1rem;
      color: #4FC4F9;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 24px;
    }

    #video_desc {
      position: absolute;
      bottom: 20%;
      left: 1rem;
      color: rgb(32, 32, 32);
      font-size: 28px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 1.5;
      max-width: 50rem;
    }
  }

  .fixed-video {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .bottom-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .home__tech {
    max-width: var(--max-width);
    margin: 200px auto 0 auto;

    h2 {
      color: rgb(32, 32, 32);
      font-size: 42px;
      letter-spacing: 1px;
      line-height: 49px;
    }

    .product {
      display: flex;
      align-items: center;
      margin-top: 90px;

      .logo,
      ul {
        flex: 0 0 50%;
      }

      ul {
        // flex: 0 0 60%;
        text-align: center;

        li {
          position: relative;
          margin-bottom: 1rem;

          img {
            width: 100%;
          }

          p {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 58px;
            line-height: 58px;
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 52.94%);
            color: #323232;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }

  @media (max-width:1024px) {
    .home__header {
      width: 80%;
      margin: 0 auto;
      background: #fff;
      color: rgb(32, 32, 32);

      .desc {
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 28px;
        width: 100%;
      }
    }
    .mission__header {
      width: 80%;
    }

    .home__content {

      li {
        position: relative;
        margin-top: 3rem;

        img {
          width: 100%;
        }

        .title {
          position: absolute;
          top: -2rem;
          left: 2rem;
          font-size: 20px;
          font-weight: 300;
          letter-spacing: 2px;
          line-height: 24px;
        }

        .sub-title {
          position: absolute;
          top: -2rem;
          left: 2rem;
          color: #3F5CD1;
          font-size: 20px;
          font-weight: 300;
          line-height: 24px;

        }

        .desc {
          position: static;
          color: rgb(32, 32, 32);
          font-size: 16px;
          letter-spacing: 0.5px;
          line-height: 28px;
          padding: 2rem;
          font-weight: 300;
          padding-top: 0;
        }


      }

    }

    .home__tech {
      max-width: var(--max-width);
      margin: 200px auto 0 auto;

      h2 {
        color: rgb(32, 32, 32);
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 24px;
        padding-left: 2rem;
        ;
      }

      .product {
        display: block;
        margin-top: 3rem;

        .logo {
          text-align: center;

          img {
            width: 50%;
          }
        }

        ul {
          // flex: 0 0 60%;
          text-align: center;

          li {
            position: relative;
            margin-bottom: 1rem;
            max-width: 90%;
            margin: 0 auto;

            img {
              width: 100%;
            }

            p {
              position: static;
              margin-top: 4px;
              color: rgba(0, 0, 0, 0.6);
              font-size: 14px;
              letter-spacing: 0.25px;
              line-height: 20px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

@keyframes gradients {
  0% {
    background-position: 0 0;
  }

  25% {
    background-position: 50% 0;
  }

  50% {
    background-position: 90% 0;
  }

  60% {
    background-position: 60%;
  }

  75% {
    background-position: 40%;
  }

  100% {
    background-position: 0 0;
  }
}

/*
  Responsive
*/

@media screen and(max-width: $grid-width) {}