/* src/assets/styles/pages/_index.scss  */

.home__page {
  margin-top: 64px;

  .home__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem 0;
    height: calc(100vh - 16rem - 64px);
    color: #fff;
    box-sizing: border-box;
    /* BG Animation */
    background-image: linear-gradient(45deg, #20073A, var(--color-primary), var(--color-secondary), #03F7C9);
    background-size: 600%;
    background-position: 0 0;
    justify-content: center;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-name: gradients;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .desc {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .home__content{
    position: relative;
  }
  .fixed-video {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0
  }

  .bottom-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
  }
}


/*
  Responsive
*/

@media screen and(max-width: $grid-width) {}