// .etl-pie, 
// .robert-day, 
// .robert-newday {
//   min-height: 30rem;
//   width: auto;
//   min-width: 70rem;
//   margin-bottom: 10rem;
//   margin-left: -20%;
// }

.etl-pie {
  height: 100%;
  width: 100%;
}
.robert-day {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.robert-newday {
  height: 100%;
  width: 100%;
  // background-color: blue;
}