.nav > li:hover .dropdown-menu { display: block; }

#navigator {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container_full{
  padding: 0em!important;
}

.foot_title_font{
  color:#76b900!important;
  font-size:0.9em!important;
  font-weight:normal!important;
  line-height: 1.6em!important;
  margin: 0 0 0.8em!important;
}

.foot_text_font{
  font-size:0.8em!important;
  font-weight:normal!important;
  line-height: 0.6em!important;
}

.img_inner_title {
  font-family: sans-serif!important;
  font-size: 3em!important;
  font-weight:bold!important;
  color: #ffffff!important;
  line-height: 1.5em!important;
}

.img_inner_text {
  font-family: sans-serif!important;
  font-size: 1.5em!important;
  color: #ffffff!important;
  line-height: 1em!important;
}

.sub_content_title {
  font-family: sans-serif!important;
  font-size: 1.0em!important;
  font-weight:bold!important;
}

.sub_content_text {
  font-family: sans-serif!important;
  font-size: 0.8em!important;
}

.img-circle {
  display: block;
  max-width: 100%;
  border-radius: 50%!important;
}
