extends ./layouts/master.pug

block title
  title My Page - Home

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  //- Desktop page
  section.home__page
    section.home__header
      h2 Reinvent Data Science
      p.desc We're Building The New Data Science
      p.desc Software For the Era Of AI & LoT
      a.text-link(href="www.baidu.com") Learn More
    section.home__content#video-wrapper
      video(id="home-video" src="../assets/video.mp4" width="100%" )

