.content {
  width: 100%;

  p {
    margin: 0;
    border: 0;
  }
  .item {
    position: relative;
    width: 100%;
    // opacity: .6;

    .svg {
      width: auto;
      z-index: -10;
      p {
        // margin-left: 20px;
        font-size: 1.5rem;
      }
    }

    .cover {
      position: absolute;
      top: 10%;
      z-index: 10;
    }
    .arrow {
      right: 20%;
    }
    .arrow-middle {
      position: absolute;
      right: 50%
    }

    .arrow-bottom {
      position: absolute;
      right: 50%;
    }
    .word {
      z-index: 11;
      text-align: center;
      width: 120;
      background-color: transarent;
      left: 73%;
    }
    .word2 {
      left: 53%;
    }
  }
    .item-rapids {
      opacity: 1;
    }
}


.cover-spark {
  right: 10%
}
.spark-arrow {
  width:auto;
  height: 100%;
  right: 30%;
  top: 40%;
}
.cover-gpu-spark {
  right: 20%
}
.cover-spark-arrow {
  right: 20%
}
.gpu-spark-arrow{
  width:auto;
  height: 100%;
  right: 60%;
  top: 40%;
}
.cover-gpu-spark-arrow {
  right: 50%
}
.cover-rapids {
  top: 30%;
  right: 20%;
  opacity: 1;
}
.cover-rapids-arrow {
  right: 50%;
  width: 30%
}
.text-arrow {
  width: 10rem;
  text-align: center;
  background-color: red;
}
.rapids-arrow {
  width:auto;
  height: 100%;
  right: 75%;
  top: 40%;
}