/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: $quicksand;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

:root {
  --color-primary: #4FC4F9;
  --color-primary-light: #D0F0FF;
  --color-primary-dark: #3F9CD1;
  --color-secondary: #F8B109;
  --color-secondary-light: #FAD06C;
  --max-width: 1200px;
  --header-height: 64px;
  font-size: 16px;
}