@import "../components/include_media.scss";

.footer {
  height: 310px;
  background-color: #28292e;
  display: flex;
  justify-content: space-between;
  @include media("<=1000px") {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .logo {
    display: block;
    width: 227px;
  }
  .left {
    padding-top: 50px;
    text-align: left;
    color: rgba(216, 216, 216, 0.46);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    img {
      margin-bottom: 20px;
    }
    @include media("<=1000px") {
      margin-bottom: 20px;
    }
  }

  .right {
    padding-top: 50px;
    color: #d8d8d8;
    line-height: 1.7;
    .item {
      @include media("<=1000px") {
        margin-bottom: 20px;
      }
    }
    a {
      color: #d8d8d8;
    }
    padding-right: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    @include media("<=1000px") {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 90%;
      margin-bottom: 50px;
    }
    h4 {
      @include media("<=1000px") {
        margin-bottom: 5px;
      }
      margin-bottom: 20px;
    }
  }
}
.bottom-footer {
  .bottom-footer-container {
    border-top: 1px solid #52545c;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  sup {
    position: relative;
    font-size: 9px;
  }
  background-color: #28292e;
  height: 70px;
  line-height: 40px;
  color: #d8d8d8;
  a {
    color: #d8d8d8;
    &:hover {
      color: #4fc4f9;
    }
  }
  .wechat:hover svg {
    fill: #5cc928;
  }
  .locale {
    margin-right: 10px;
    font-family: "Noto Sans CJK SC";
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
  }

  .wechat {
    cursor: default;
    display: inline-block;
    position: relative;
    img {
      display: none;
      position: absolute;
      top: -154px;
      right: 0;
    }
    svg {
      position: relative;
      top: 6px;
    }
  }
  .wechat:hover img {
    display: block;
    top: -154px;
  }
  .github {
    margin-left: 10px;
    svg {
      position: relative;
      top: 3px;
    }
  }
}
