$list_bg_color : #2d313c;

.drop-down{
  .list {
    display: none;
  }
  .list-show {
    display: block;
    position: absolute;
    margin-top: 60px;
    z-index: 10;
    background-color: #2d313c;
    color: #f2f2f2;
    // width: 100%;
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;

    .product { width: 88px;}
    .about-us { width: 117px;}
    // .about-us{ width: 100%}
    li {
      text-align: center;
      font-size: 16px;
      a {
        display: block;
        padding: 5px 0;
        color: #FFF;
        &:hover {
          text-decoration: none;
          background: #2d313c;
        }
      }
    }
  }
}