@import "../components/include_media.scss";

.sub-nav-wrapper {
  background-color: rgba(40, 41, 46, 0.85);
  position: sticky;
  top: 0;
  z-index: 100;
}
.sub-nav {
  height: 90px;
  line-height: 90px;
  display: flex;
  margin: 0 auto;
  @include media("<=1000px") {
    height: 70px;
    line-height: 70px;
  }
  // h3 {
  //   display:inline-block;
  //   color: #d8d8d8;
  //   font-weight: bold;
  //   letter-spacing: 2px;
  //   text-transform: uppercase;
  //   margin-right: 20px;
  //   @include media("<=1000px") {
  //     font-size: 12px;
  //   }
  // }
  ul {
    display: inline-flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
    li {
      @include media("<=1000px") {
        letter-spacing: 0px;
      }
      text-transform: uppercase;
      letter-spacing: 5px;
      &:not(:last-child) {
        @include media("<=1000px") {
          margin: 0 3px;
        }
        margin-right: 20px;
      }
    }
  }
  a {
    color: #d8d8d8;
    opacity: 0.5;
    &.current {
      opacity: 1;
      font-weight: bold;
    }
    &.current svg {
      color: #4fc4f9;
    }
    &:hover {
      color: #4fc4f9;
      opacity: 1;
    }
  }
  svg {
    margin-right: 10px;
    @include media("<=1000px") {
      display: none;
    }
  }
}
