
header.header#layout-header
  a(href="/" alt="home page")
    img(src=require("../../assets/images/zilliz-logo.svg"), alt="logo", srcset="" id="header-color-logo")
    img(src=require("../../assets/images/zilliz-logo-white.svg"), alt="logo", srcset="" id="header-white-logo")

  ul.route#header-route
    li 
      a(href="/#mission") MISSION
    li 
      a(href="/#zilliz-technology") TECHNOLOGY
    li
      a(href="/journey") JOURNEY
  span.list-icon#mobile-list
    img(src=require("../../assets/images/list.svg") alt="list")
      
      