
header.header#layout-header
  a(href="/")
    img(src="../../assets/images/zilliz-logo.svg", alt="logo", srcset="")
  ul.route#header-route
    li MISSION
    li TECHNOLOGY
    li
      a(href="/journey") JOURNEY
  span.list-icon#mobile-list
    img(src="../../assets/images/list.svg" alt="list")
      
      