
header.header#layout-header
  a(href="/")
    img(src="../../assets/images/zilliz-logo.svg", alt="logo", srcset="")
  ul
    li MISSION
    li TECHNOLOGY
    li
      a(href="/journey") JOURNEY
      
      